@mixin useIcon() {
  &::before {
    background-image: url('@/assets/icons/sprite24.svg') !important;
    background-repeat: no-repeat;
  }
}

@mixin useIcon32() {
  &::before {
    background-image: url('@/assets/icons/sprite32.svg') !important;
    background-repeat: no-repeat;
  }
}

@mixin useIcon40() {
  &::before {
    background-image: url('@/assets/icons/sprite40.svg') !important;
    background-repeat: no-repeat;
  }
}

@mixin useIconSize($size) {
  height: $size + px;
  width: $size + px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: $size + px;
    width: $size + px;
    top: 0;
    left: 0;
  }
}

.icon32 {
  @include useIcon32();
  @include useIconSize(32);

  &.eye::before {
    background-position: 0 0;
  }
}

.icon40 {
  @include useIcon40();
  @include useIconSize(40);

  &.next::before {
    background-position: -40px 0;
  }

  &.back::before {
    background-position: -83px 0;
  }

  &.close::before {
    background-position: 0 0;
  }
}

.icon24 {
  @include useIcon();
  @include useIconSize(24);

  &.upload-image::before {
    background-position: 0 0;
  }

  &.upload-image-v2::before {
    background-position: -120px -24px;
  }

  &.upload-image-v3::before {
    background-position: -24px -24px;
  }

  &.add-photo::before {
    background-position: -0px 0;
  }
  &.date-picker-blue::before {
    background-position: -24px 0;
  }
  &.upload::before {
    background-position: -48px 0;
  }
  &.attachment::before {
    background-position: -72px 0;
  }
  &.cancel::before {
    background-position: -96px 0;
  }
  &.save::before {
    background-position: -120px 0;
  }
  &.back::before {
    background-position: -144px 0;
  }
  &.check-square::before {
    background-position: -168px 0;
  }
  &.photo::before {
    background-position: -192px 0;
  }
  &.check-round::before {
    background-position: -216px 0;
  }
  &.search::before {
    background-position: -240px 0;
  }
  &.date-picker-gray::before {
    background-position: -264px 0;
  }
  &.calendar::before {
    background-position: -24px 0;
  }
  &.add-photo-gray::before {
    background-position: -24px -24px;
  }
  &.preview::before {
    background-position: -24px -48px;
  }
  &.eye::before {
    background-position: -48px -24px;
  }
  &.zoom::before {
    background-position: -96px -24px;
  }
  &.download::before {
    background-position: 0 -24px;
  }
  &.download-v2::before {
    background-position: -72px -24px;
  }
  &.delete::before {
    background-position: -144px -24px;
  }
  &.download-mobile::before {
    background-position: -168px -24px;
  }
  &.pause::before {
    background-position: -192px -24px;
  }
  &.play::before {
    background-position: -216px -24px;
  }
  &.edit::before {
    background-position: -240px -24px;
  }
  &.tag-name::before {
    background-position: -264px -24px;
  }
  &.info-square::before {
    background-position: -288px 0;
  }
}

.icon_upload_image_large {
  @include useIconSize(60);
  background-image: url('@/assets/icons/upload_image_large.svg') !important;
  background-repeat: no-repeat;
}
